<a href="https://colab.research.google.com/github/chopin0807/2023-10-project/blob/master/Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리

In [1]:
import pandas as pd
import numpy  as np

In [2]:
# 구글 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
stock = pd.read_csv('/content/drive/MyDrive/2023년 10월-11월 프로젝트/stock.csv')
stock

              날짜      종가      시가   전일비      고가      저가      거래량
0     2023.11.01   37900   38000  -100   38300   37800   448388
1     2023.10.31   37800   38250  -200   38950   37450  1791726
2     2023.10.30   38000   37650   250   38400   37600  1290753
3     2023.10.27   37750   37650   100   38050   37300  1323041
4     2023.10.26   37650   38250 -1300   38500   37400  2073618
...          ...     ...     ...   ...     ...     ...      ...
1195  2018.12.26   98500   99000 -2500  100500   98000   492532
1196  2018.12.24  101000  104500 -3500  104500  100000   320266
1197  2018.12.21  104500  102500  1500  104500  101000   429650
1198  2018.12.20  103000  107000 -5000  107000  101000   579446
1199  2018.12.19  108000  108500  -500  109000  106000   218497

[1200 rows x 7 columns]

In [5]:
stock = stock.rename(columns={'날짜':'date'})

In [6]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1200 non-null   object
 1   종가      1200 non-null   int64
 2   시가      1200 non-null   int64
 3   전일비     1200 non-null   int64
 4   고가      1200 non-null   int64
 5   저가      1200 non-null   int64
 6   거래량     1200 non-null   int64
dtypes: int64(6), object(1)
memory usage: 65.8+ KB

In [7]:
stock['date'] = pd.to_datetime(stock['date'])

In [8]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1200 non-null   datetime64[ns]
 1   종가      1200 non-null   int64
 2   시가      1200 non-null   int64
 3   전일비     1200 non-null   int64
 4   고가      1200 non-null   int64
 5   저가      1200 non-null   int64
 6   거래량     1200 non-null   int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 65.8 KB

In [ ]:
# news_2019 = pd.read_csv('/content/drive/MyDrive/02_대학생/05_대외활동/230828_SeSAC_핀테크데이터분석가과정/2023년 10월-11월 프로젝트/카카오 기사데이터/요청데이터/카카오_2019-01-01_2019-12-31.csv')
# news_2020 = pd.read_csv('/content/drive/MyDrive/02_대학생/05_대외활동/230828_SeSAC_핀테크데이터분석가과정/2023년 10월-11월 프로젝트/카카오 기사데이터/요청데이터/카카오_2020-01-01_2020-12-31.csv')
# news_2021 = pd.read_csv('/content/drive/MyDrive/02_대학생/05_대외활동/230828_SeSAC_핀테크데이터분석가과정/2023년 10월-11월 프로젝트/카카오 기사데이터/요청데이터/카카오_2021-01-01_2021-12-31.csv')
# news_2022 = pd.read_csv('/content/drive/MyDrive/02_대학생/05_대외활동/230828_SeSAC_핀테크데이터분석가과정/2023년 10월-11월 프로젝트/카카오 기사데이터/요청데이터/카카오_2022-01-01_2022-12-31.csv')
# news_2023 = pd.read_csv('/content/drive/MyDrive/02_대학생/05_대외활동/230828_SeSAC_핀테크데이터분석가과정/2023년 10월-11월 프로젝트/카카오 기사데이터/요청데이터/카카오_2023-01-01_2023-10-24.csv')

In [ ]:
# news = pd.concat([news_2019, news_2020, news_2021, news_2022, news_2023], axis=0)
# news.head(1)

In [ ]:
news['date'] = pd.to_datetime(news['date'])
news['date'] = news['date'].dt.date
news['date'] = pd.to_datetime(news['date'])
news.info()

In [ ]:
df = pd.merge(news.groupby('date').count(), stock, how = 'inner', on = 'date')
df.head()

In [ ]:
X = df['content'].tolist()
len(X)

In [18]:
import numpy as np
X = np.array(X).reshape(-1,1)

In [29]:
stock_2023 = stock[stock['date'].dt.year==2023]
stock_2023.head(1)

        date     종가     시가  전일비     고가     저가     거래량
0 2023-11-01  37900  38000 -100  38300  37800  448388

In [30]:
y = stock_2023['거래량'].tolist()
len(y)

205

In [ ]:
y = np.array(y).reshape(-1,1)

In [12]:
news_2023 = pd.read_csv('/content/drive/MyDrive/2023년 10월-11월 프로젝트/LDA모델 적용/news_2023.csv')
news_2023.head(1)

,date,url,tokenize_title,tokenize_content,topic(title),topic_details(title),topic(content),topic_details(content)
0,2023-01-01T06:00:00,https://n.news.naver.com/mnews/article/421/000...,"['새해', '달라지는', '들', '카카오', '먹통', '방지법', '시행', ...","['데이터', '센터', '다중화', '의무', '콘텐츠', '세액', '공제', ...",1.0,0.76633,1.0,0.373403

In [31]:
X = news_2023['topic(content)'].tolist()
len(X)

5605

# 표준화

In [16]:
# 표준화하기 위해 StandardScaler 사용
from sklearn.preprocessing import StandardScaler

In [19]:
# X 표준화
scaler = StandardScaler()
scaler.fit(X)
X_standardized = scaler.transform(X)
X_standardized = scaler.fit_transform(X)

In [22]:
# y 표준화
scaler = StandardScaler()
scaler.fit(y)
y_standardized = scaler.transform(y)
y_standardized = scaler.fit_transform(y)

NameError: ignored

# LassoCV
LassoCV 함수는 교차 검증을 통해 최적의 alpha 값을 찾아줍니다.

- sklearn에 LassoCV, Lasso가 있음
- LassoCV로 알파값을 추출하고
- 추출한 알파값을 Lasso에 넣기

In [20]:
from sklearn.linear_model import LassoCV

In [21]:
lasso_cv = LassoCV(alphas=[0.1, 1.0, 10.0], cv=5)

In [ ]:
lasso_cv.fit(X_standardized, y_standardized)

In [ ]:
best_alpha = lasso_cv.alpha_
print("최적의 alpha:", best_alpha)

In [ ]:
best_lasso_model = lasso_cv

# Lasso
- scikit-learn에서 Lasso 회귀를 수행하기 위해 Lasso 클래스를 사용
- Lasso 회귀는 L1 정규화를 적용한 선형 회귀 모델
- Lasso 클래스를 사용하면 Lasso 회귀 모델을 간단히 만들고 데이터에 맞출 수 있음
- alpha 매개변수를 조절하여 L1 정규화의 강도를 변경할 수 있으며, 모델을 학습시킨 후 계수를 검사하여 어떤 특성이 중요한지 확인할 수 있음

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
lasso_model = Lasso(alpha=0.1)

In [ ]:
lasso_model.fit(X_standardized, y_standardized)

In [ ]:
y_pred = lasso_model.predict(X_standardized)
y_pred

In [ ]:
# 표준화한 값을 다시 복원함
y_original = scaler.inverse_transform(y_standardized)
y_original

In [ ]:
len(y_original)

In [ ]:
coefficients = lasso_model.coef_
coefficients

# peak day 계산

## 거래량 그래프 찍어보기

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))  # 그래프 크기 설정
plt.plot(df['date'], y_standardized, marker='o', linestyle='-')

plt.title('2019-2023')  # 그래프 제목
plt.xlabel('date')  # x 축 레이블
plt.ylabel('volume')  # y 축 레이블

plt.grid(True)  # 그리드 표시
plt.show()  # 그래프 표시

## 2019

In [ ]:
df_2019 = df[df['date'].dt.year == 2019]
len(df_2019)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))  # 그래프 크기 설정
plt.plot(df_2019['date'], df_2019['거래량'], marker='o', linestyle='-')

plt.title('2019')  # 그래프 제목
plt.xlabel('date')  # x 축 레이블
plt.ylabel('volume')  # y 축 레이블

plt.grid(True)  # 그리드 표시
plt.show()  # 그래프 표시

In [ ]:
# 2019-05-17 카카오 직원 스톡옵션 527,000주
df_2019.nlargest(12, '거래량')[['date','거래량']]

## 2020

In [ ]:
df_2020 = df[df['date'].dt.year == 2020]
len(df_2020)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))  # 그래프 크기 설정
plt.plot(df_2020['date'], df_2020['거래량'], marker='o', linestyle='-')

plt.title('2020')  # 그래프 제목
plt.xlabel('date')  # x 축 레이블
plt.ylabel('volume')  # y 축 레이블

plt.grid(True)  # 그리드 표시
plt.show()  # 그래프 표시

In [ ]:
df_2020.nlargest(12, '거래량')[['date','거래량']]

## 2021

In [ ]:
df_2021 = df[df['date'].dt.year == 2021]
len(df_2021)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))  # 그래프 크기 설정
plt.plot(df_2021['date'], df_2021['거래량'], marker='o', linestyle='-')

plt.title('2021')  # 그래프 제목
plt.xlabel('date')  # x 축 레이블
plt.ylabel('volume')  # y 축 레이블

plt.grid(True)  # 그리드 표시
plt.show()  # 그래프 표시

In [ ]:
df_2021.nlargest(12, '거래량')[['date','거래량']]

## 2022

In [ ]:
df_2022 = df[df['date'].dt.year == 2022]
len(df_2022)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))  # 그래프 크기 설정
plt.plot(df_2022['date'], df_2022['거래량'], marker='o', linestyle='-')

plt.title('2022')  # 그래프 제목
plt.xlabel('date')  # x 축 레이블
plt.ylabel('volume')  # y 축 레이블

plt.grid(True)  # 그리드 표시
plt.show()  # 그래프 표시

In [ ]:
df_2022.nlargest(12, '거래량')[['date','거래량']]

## 2023

In [ ]:
df_2023 = df[df['date'].dt.year == 2023]
len(df_2023)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))  # 그래프 크기 설정
plt.plot(df_2023['date'], df_2023['거래량'], marker='o', linestyle='-')

plt.title('2023')  # 그래프 제목
plt.xlabel('date')  # x 축 레이블
plt.ylabel('volume')  # y 축 레이블

plt.grid(True)  # 그리드 표시
plt.show()  # 그래프 표시

In [ ]:
df_2023.nlargest(10, '거래량')[['date','거래량']]

# FVE 계산
- FVE(Fraction of Volume Explained): 각 토픽으로 설명할 수 있는 뉴스 수의 비율

# FPE 계산